:root {
    --color-primero: #ffc107;
    --color-secundario: #254160;
    --color-tercero: #FFF;
    --color-sombra: rgba(0, 0, 0, 0.7);
    --color-texto-primero: #212529;
    --color-p:rgb(29, 41, 53);
  }

  /**Estilos generales*/

*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body,
h2,
ul{
    margin: 0;
    padding: 0; 
    background-color: #f0f2f5; 
}

/**Layout con grid*/

.contiene_todo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'header header header header'
                        'slider slider slider slider'
                        'main main main main'
                        'footer footer footer footer';
}

.header{
    grid-area: header;
}

.slider{
    grid-area: slider;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

/* menu principal */

.header{
    background-color: var(--color-texto-primero);
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}

.bg-scroll{
    background-color: rgba(0, 0, 0, 0.8);
}

.a_logo{
    width: 50px;
    margin-left: 10px;
}

.button{
    background:none;
    border: none;
}

.burguer_menu{
    color: var(--color-tercero);
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.burguer_menu:hover{
    background-color: var(--color-primero);
    color: var(--color-texto-primero);
    box-shadow: 0 0 5px var(--color-sombra);
}

.burguer-scroll{
    color: #FFF;
}

.header_nav{
    border-radius: 5px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    pointer-events: none; 
    background-color: rgba(10, 10, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav.activado{
    height: 50vh;
    pointer-events: auto; 
}

.nav_ul{
    list-style: none;
    padding: 10px 0;
    background:none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav-a{
    text-decoration: none;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    color: var(--color-tercero);
    font-weight: 400;
    font-size: 16px;
    /* letter-spacing: 1.5px; */
    transition: color .5s ease;
}


.nav-a:hover{
    color: var(--color-primero);
}

.link-scroll{
    color: var(--color-tercero);
}

/*portada*/
 
.slider{
    width: 100%;
    margin-top: 55px;
    height: 80vh;
    background-image: url("../assets/imgs/fact2.png");
    filter: brightness(1.2);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.slider-bg{
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    transition: all .5s ease;
}

.slider-titles h1{
    display: flex;
    text-shadow: 0 0 10px black;
    flex-direction: column;
    align-items: center;
    color: var(--color-tercero);
    font-size: 20px;
}

.slider-titles h2{
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    color: var(--color-tercero);
    text-shadow: 0 0 10px black;
    font-size: 18px;
    letter-spacing: normal;
    font-weight: 400;
    background: none;
}

.disapear{
    display: none;
}

.slider-container-button{
    margin-top: 20px;
}

/*Anuncio Rosca*/
.rosca-pascua{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;
}

.rosca-img{
    width: 100%;
    border-radius: 15px;
}
.rosca-dkp{
    display: none;
}

.rosca-texts{
    border-radius: 15px;
    background-color: #ffc107;
    padding: 20px;
}

.h2-rosca{
    background: none;
}





/**Product cards*/

.message-days{
    font-size: 16px;
    text-align: center;
}

.message-fixed{
    position: sticky;
    top: 57px;
    text-align: center;
    padding: 5px;
    color: var(--color-texto-primero);
    background-color: var(--color-primero);
}

.promos-h2{
    text-align: center;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

#container-products{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.card-image{
    width: 100%;
}

.card-container{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}

.contiene-textos{
    padding: 20px 0;

}

.textos-ul{
    background:none;
    list-style: none;
    height: 160px;
}

.product-title{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.descripcion1,
.descripcion2,
.descripcion3,
.descripcion4{
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.price{
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    font-size: 25px;
    font-weight: 700;
}





/**Footer*/

.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: var(--color-primero);
}
























@media screen and (min-width:760px){
    .header{
        height: 60px;
        padding: 3px 3px;
    }

    .a_logo{
        width: 60px;
        margin-left: 40px;
    }

    .button{
        margin-right: 40px;
    }

    .burguer_menu{
        color: var(--color-tercero);
    }

    /*Slider*/
   .slider{
        margin-top: 60px;
        height: 90vh;
    }

    .slider-button{
        width: 150px;
        padding: 10px 0;
    }

    /*Cards*/
    .message-fixed{
        top: 43px;
    }

    .card-image{
        width: 80%;
    }
}


@media screen and (min-width:970px){
    .header_nav{
        width: fit-content;
        display: block;
        height: 55px;
        box-shadow: none;
        pointer-events: all;
        transition: none;
        margin-right: 20px;
        background: none;
        overflow: visible;
    }
    .header_nav.activado{
        flex-direction: row;
        height: fit-content;
    }

    .nav_ul{
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        /* background-color: var(--color-primero); */
        background-color: transparent;
        gap: 0;
        padding: 0 30px;
    } 
    
    .nav-a{
        display: inline-block;
        color: var(--color-tercero);
        padding: 18px 15px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 5px;
        transition: all .4s ease;
    }

    .nav-a:hover{
        color: var(--color-texto-primero);
        background-color: var(--color-primero);
        box-shadow: 4px 4px 7px var(--color-sombra);
    }

    .link-scroll{
        color: #fff;
    }

    .button{
        display: none;
    }

    /*Anuncio rosca*/
    .rosca-dkp{
        display: block;
    }

    .rosca-movile{
        display: none;
    }

    .rosca-pascua{
        max-width: 1000px;
    }

    .rosca-img{
        width: 100%;
        border-radius: 15px;
    }

    .img-rosca-container{
        width: 50%;
    }

    .rosca-texts{
        width: 50%;
        border-radius: 15px;
        background-color: #ffc107;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

.h2-rosca{
    background: none;
}


    /**Slider**/

    .slider-titles h1{
        font-size: 30px;
    }
    .slider-titles h2{
        font-size: 20px;
    }

    /**cards**/

    .textos-ul{
        height: 120px;
    }

    .message-fixed{
        top: 60px;
    }

    .card-image{
        width: 50%;
    }

    .card-container:nth-child(2) .card-image,
    .card-container:nth-child(4) .card-image,
    .card-container:nth-child(6) .card-image,
    .card-container:nth-child(8) .card-image,
    .card-container:nth-child(10) .card-image{
        order: 1;
    }
}



@media screen and (min-width:1200px){

.descripcion1,
.descripcion2,
.descripcion3,
.descripcion4{
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    font-weight: 600;
    
}

}
